#boxCenter {
    width: 80%;
    height: 100%;

    float: right;

    background-color: #111;
    display: flex;
    flex-direction: column;
}

#content {
    /*text-align: center;

    position: absolute;
    width: 65%;
    height: 100%;

    max-width: 1100px;

    margin-left: 17%;*/

    max-width: 900px;
    width: 100℅;
    margin: 0 auto;

    background-color: #111;
}

#leftContent {
    width: 17%;
    max-width: 17%;
}

#rightContent {
    width: 200px;
    max-width: 200px;

    margin-left: 84%;
}

header {
    width: 100%;
    height: 20%;

    position: relative;

    background-color: #111;
}
#messanger{ 
    

}

#messanger img{
    width: 50px;
}
  
.boxLeft {
    width: 20%;
    height: 100%;

    float: left;

    background-color: #111;
}
.boxLeft.visible{
    display: block;
}

footer {
    width: 100%;
    height: 20%;
}

#grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 10px;
}

.grid-items {
    width: 200px;
    margin-top: 5px;

    text-align: center;

    background-color: #222;
}

#another {
    margin: 20px auto;
    width: 150px;

    position: fixed;
}

#another img {
    width: 130px;
}

#another h3 {
    font-size: 15px;
    padding: 5px;
}

.grid-items a {
    text-decoration: none;
    color: white;
}

.grid-items img {
    width: 180px;
    margin-top: 10px;
}

.grid-items h4 { /*ссылки названииы фильмов*/
    margin-top: 8px;
    margin-bottom: 10px;
}

#categoryGrid { /*категории фильмов*/
    display: flex;
    flex-direction: column;

    margin: 5px;
}

.categoryItems { /*ссылки на категории фильмов*/
    transition: 0.5s;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #222;

    margin-top: 5px;
    border-radius: 3px;

    padding: 5px;
    font-weight: 300px;

    border: 1px solid rgba(0, 0, 0, 0.158);
}

.categoryItems:hover {  /*наведение курсора на категории фильмов*/
    transition: 0.5s;
    background-color: rgb(210, 216, 226);
}

#page { /*переключение по стр*/
    display: flex;
    flex-direction: row;
    margin: 25px 300px;
}

.pageItems { /*ссылка на стр*/
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;

    background-color: #111;
}
.picLeft-items{
    margin: 10px;
    width: 140px;
    background-color: #222;
}
.picLeft-items img{
    margin: 10px;
}
.picLeft-items a{ /*текст ссылка */
    text-decoration: none;
    color: white;
}

#picLeft { /*рекомендуемые фильмы под категориями*/
    width: 140px;

    margin: 5px auto;

    text-align: center;
}

footer p#left{ /*описание снизу слева*/
    float: left;
    margin: 10px;
    text-decoration: none;
    color: white;
}
footer p#right{ /*описание снизу справа*/
    float: right;
    margin: 10px;
    text-decoration: none;
    color: white;
}

#search{  /*поисковик*/
    float: right;

    margin-right: 100px;
    margin-top: 60px;
    text-decoration: none;
    color: white;
}

/*padding - внутренние отступы 
margin - внешние отступы
*/

/*-----Wicher.HTML-----*/
#mainInfo{

}
#mainInfo img{ /*верхняя часть, кар-кой фильма и его описанием*/
    width: 25%;

    float: left;

    margin: 15px;
    background-color: #222;
    margin: 10px;
    padding: 3px;
}

#info{ /*левая часть с самим описанием фильма*/
    width: 65%;

    float: right;

    margin: 15px;

    display: flex;
    flex-direction: column;
}

.infoItems{
    padding: 5px;
}
.infoItems.colored{ /*описание фильма другого цвета*/
    background-color: #222;
}

#infoItems p{ /*само описание(тескт)*/
    color: aliceblue;
}


.infoItemsLeft{
    width: 50%;
    float: left;

    color: aliceblue;
}

.infoItemsRight{ /*описание фильма*/
    width: 50%;
    float: right;

    color: aliceblue;
}

#description{
    margin: 10px;
    padding: 15px;
    
    background-color: #222;
}
#description h3{
    margin-bottom: 20px;
    color: white;
}

#description p{
    color: white;

    margin-bottom: 20px;
}

#description p#translate{
    margin-bottom: 0;
}

#title{
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: #222;
}
#title h3{ 
    color: aliceblue;
}
.bigRed{ /*красный цвет на букву*/
    color: red;
    font-size: 23px;
}
#video{
    display: block;

    margin: 10px;
    padding: 10px;
    background-color: #222;
}
#videoMobile{
    display: none;

    margin: 10px;
    padding: 15px;
    background-color: #222;
}

/*-------------------Similar Films-----------------------------------*/

#similar{ /*большая коробка*/
    background-color: #222;

    margin: 10px;
    padding: 15px;
}
#similar h3{ /*Что еще посмотреть*/
    color: aliceblue;
}
.simGrid{ /*коробка  ссылками и кар-ками фильмов*/
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.grid-items.similar{ /*одна ссылка кар-ка фильма*/ 
    width: 160px;
    background-color: #333;
}
.grid-items.similar:hover{
    scale: 1.2;
    background-color: #111;
}
.grid-items.similar h4{ /*название фильма*/
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.grid-items.similar img{ /*кар-ка фильма*/
    width: 140px;
}

/*----------------------Comment--------------------------------------------------*/

#comment{
    background-color: #222;

    margin: 10px;
    padding: 15px;
}
#comment h3{
    color: white;
}
#comment textarea{
    position: relative;/*относительное позиционирование*/
    z-index: 99; /*положение эл-мента и нижестоящих эл-тов по оси z*/
    margin-top: 10px;
    outline: none; /*задаем внешю границу эл-та*/ 
    color: #777;
    background-color: #1c1c1c;
    padding: 15px;
    border: 1px solid #252525;
    height: 110px;
    width: 594px;
    font-size: 13px;
    color: #bbb;
    font-family: Verdana, Geneva, sans-serif;
    overflow: auto;
}